**Assignment 2 - Regression (Expander_data.csv)**

**DATA PREPROCESSING**

**IMPORTING IMPORTANT LIBRARIES**

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/weather-data/Weather_data.csv

**IMPORTING DATASET**

In [2]:
data=pd.read_csv('/kaggle/input/weather-data/Weather_data.csv')

**DESCRIBING DATASET**

In [3]:
data.describe()

,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wgustm,_windchillm,_wspdm
count,98294.000000,98913.000000,98913.000000,29111.000000,98160.000000,0.0,9.868200e+04,98913.000000,98913.00000,98244.000000,98913.000000,98913.000000,94497.000000,84533.000000,1063.000000,573.000000,96560.000000
mean,15.817130,0.067109,0.000131,35.659606,57.774358,NaN,1.951861e+03,0.026498,0.00001,25.578427,0.009362,0.000020,2.419885,162.550980,37.704516,5.708202,7.685854
std,7.096917,0.250213,0.011464,5.013579,23.754463,NaN,3.217101e+05,0.160612,0.00318,8.464732,0.096303,0.004497,20.970678,120.019889,6.841070,1.205967,11.995965
min,-24.000000,0.000000,0.000000,26.800000,4.000000,NaN,-9.999000e+03,0.000000,0.00000,1.000000,0.000000,0.000000,0.000000,0.000000,25.900000,2.100000,0.000000
25%,10.000000,0.000000,0.000000,31.700000,39.000000,NaN,1.002000e+03,0.000000,0.00000,19.000000,0.000000,0.000000,1.500000,50.000000,33.300000,4.900000,0.000000
50%,15.000000,0.000000,0.000000,35.100000,58.000000,NaN,1.008000e+03,0.000000,0.00000,27.000000,0.000000,0.000000,2.000000,150.000000,37.000000,6.100000,7.400000
75%,22.000000,0.000000,0.000000,39.200000,77.000000,NaN,1.014000e+03,0.000000,0.00000,32.000000,0.000000,0.000000,3.000000,270.000000,40.700000,6.800000,11.100000
max,75.000000,1.000000,1.000000,73.600000,243.000000,NaN,1.010614e+08,1.000000,1.00000,90.000000,1.000000,1.000000,6436.000000,960.000000,92.600000,7.300000,1514.900000

In [4]:
data.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [5]:
#Printing all columns of dataset
data.columns

Index(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain', ' _snow',
       ' _tempm', ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire',
       ' _wgustm', ' _windchillm', ' _wspdm'],
      dtype='object')

In [6]:
#feature formation
features=['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain', ' _snow',
        ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire',
       ' _wgustm', ' _windchillm', ' _wspdm']

In [7]:
#defining features matrix X and prediction value y
X=data[features]
y=data[' _tempm']

In [8]:
X.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [9]:
#since the feature 'datetime_utc' does not affect the Discharge Pressure prediction and therefore it can be drop
X.drop(['datetime_utc'],inplace=True,axis=1)
#since the feature ' _precipm' is unavailable in dataset and therefore it can be drop
X.drop([' _precipm'],inplace=True,axis=1)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [10]:
X.head()

,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_pressurem,_rain,_snow,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,Smoke,9.0,0,0,NaN,27.0,1010.0,0,0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,Smoke,10.0,0,0,NaN,32.0,-9999.0,0,0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,Smoke,11.0,0,0,NaN,44.0,-9999.0,0,0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,Smoke,10.0,0,0,NaN,41.0,1010.0,0,0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,Smoke,11.0,0,0,NaN,47.0,1011.0,0,0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [11]:
X.shape

(98913, 17)

In [12]:
#checking if any missing data in our dataset
data.isnull().sum()

datetime_utc        0
 _conds            68
 _dewptm          619
 _fog               0
 _hail              0
 _heatindexm    69802
 _hum             753
 _precipm       98913
 _pressurem       231
 _rain              0
 _snow              0
 _tempm           669
 _thunder           0
 _tornado           0
 _vism           4416
 _wdird         14380
 _wdire         14380
 _wgustm        97850
 _windchillm    98340
 _wspdm          2353
dtype: int64

In [13]:
X[' _conds'].fillna(method='ffill',inplace=True)
X[' _wdire'].fillna(method='ffill',inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [14]:
X.isnull().sum()

 _conds             0
 _dewptm          619
 _fog               0
 _hail              0
 _heatindexm    69802
 _hum             753
 _pressurem       231
 _rain              0
 _snow              0
 _thunder           0
 _tornado           0
 _vism           4416
 _wdird         14380
 _wdire             0
 _wgustm        97850
 _windchillm    98340
 _wspdm          2353
dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
le=LabelEncoder()
X[' _conds']=le.fit_transform(X[' _conds'].astype('str'))
X[' _wdire']=le.fit_transform(X[' _wdire'].astype('str'))
#ohe=OneHotEncoder(categorical_features=[0,13])
#X=ohe.fit_transform(X).toarray()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
X.head()

,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_pressurem,_rain,_snow,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,31,9.0,0,0,NaN,27.0,1010.0,0,0,0,0,5.0,280.0,16,NaN,NaN,7.4
1,31,10.0,0,0,NaN,32.0,-9999.0,0,0,0,0,NaN,0.0,7,NaN,NaN,NaN
2,31,11.0,0,0,NaN,44.0,-9999.0,0,0,0,0,NaN,0.0,7,NaN,NaN,NaN
3,31,10.0,0,0,NaN,41.0,1010.0,0,0,0,0,2.0,0.0,7,NaN,NaN,NaN
4,31,11.0,0,0,NaN,47.0,1011.0,0,0,0,0,1.2,0.0,7,NaN,NaN,0.0

In [17]:
X.isnull().sum()

 _conds             0
 _dewptm          619
 _fog               0
 _hail              0
 _heatindexm    69802
 _hum             753
 _pressurem       231
 _rain              0
 _snow              0
 _thunder           0
 _tornado           0
 _vism           4416
 _wdird         14380
 _wdire             0
 _wgustm        97850
 _windchillm    98340
 _wspdm          2353
dtype: int64

In [18]:


from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values= np.nan, strategy='mean')
X = imputer.fit_transform(X)

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [20]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [21]:
#Fitting model
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=10,random_state=100)
model.fit(X_train,y_train)
y_pred_train=model.predict(X_train)
y_pred_test=model.predict(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [22]:
#checking accuracy of model using rmse value on training dataset
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_train, y_pred_train))
print(rms)

NameError: name 'y_pred_train' is not defined

In [23]:
#checking accuracy of model using rmse value on test dataset
rms = sqrt(mean_squared_error(y_test, y_pred_test))
print(rms)

NameError: name 'y_pred_test' is not defined

**rmse value can be minimizes by increasing n_estimators value**

**THANK YOU**